

<h2>Adicione os produtos</h2>

<form action="@Url.Action("AddProducts")" method="post">
    <label>Produtos</label>
    <input type="text" name="name" class="form-control"/>

    <label>Montante</label>
    <input type="text" name="amount" class="form-control"/>

    <input type="submit" class="btn btn-primary" value="Adicionar Produtos" />
</form>
